@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn($bg: $black, $fz: 9px, $lh: 13px, $ls: 0.54px, $br: 40px, $w: 114px, $clr: $white ) {
  background: $bg;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
  border-radius: $br;
  width: $w;
  color: $clr;
  padding: 13px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 25px 0;
  @content;

  &:hover {
    background: lighten($bg, 15%);
  }
}