.blog {
  margin: 90px 0 -140px;

  .blog__title {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.6px;
    font-weight: 600;
    color: $grey;
    text-transform: uppercase;
    text-align: center;
  }

  .blog__block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

    .blog__element {
      flex-basis: 48.8%;

      img {
        display: block;
        max-width: 100%;
      }
    }

  .blog__info {
    width: calc(100% - 70px);
    background: $white;
    padding: 15px 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;

    .blog__topic {

      a {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.9px;
        font-weight: 600;
        color: $grey;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 5px 0;
    }

    .blog__date {
      font-size: 14px;
      line-height: 24px;
      color: #7d7d7d;
      font-style: italic;
    }
  }
}

@media (max-width: 768px) {
  .blog {
    margin-top: 25px;

    .blog__info {
      width: calc(100% - 20px);
    }
  }
}

@media (max-width: 600px) {
  .blog {

    .blog__block {
      margin-top: 25px;

      .blog__element {
        flex-basis: 100%;
      }
    }

    .blog__info {
      transform: translateY(0);
      margin: 0 auto 25px;
    }
  }


}