.menu {

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.96px;
    text-decoration: none;
    border: 1px solid transparent;
    color: $black;
    margin: 0 3px;

    &:hover {
      border-bottom-color: $black;
    }
  }
}